<nav class="w-full h-24 bg-gray-700 text-white">
    <ul class="flex justify-evenly p-8 font-semibold">
        <li><a href="#"><%= user ? user.username : 'Guest' %></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/events">List</a></li>
    </ul>
</nav>