<!DOCTYPE html>
<html lang="Javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>main page</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-500">
        
    </div>
</body>
</html>