body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
    border: .5px solid black;
}
